body {
    background: #55DB96;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.cabecalhoPrincipal-nav {
    display: flex;
   
    

}

.paragrafo {
    display: flex;
}

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    height: 1rem;
    padding: 1rem;
    justify-content: center;
    background-color: #76498F;
    font-size: 1.3rem;
}

.cabecalho {
    margin: 6rem 0;


}

.cabecalhoPrincipal-nav-link {
    margin: 2rem;
    text-decoration: none;
    color: #55DB96;
    font-weight: bold;
    text-transform: uppercase;

    
}

.cabecalhoPrincipal-nav-link:hover { 
    display: flex;
    align-items: center;
    color: white;
    transition: all ease 0.3s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    position: static;
    cursor: pointer;
    

}

.conteudoPropostas, .conteudoSobre, .conteudoContato {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    background: white;
    padding: 10px;
}

.div_conteudo_propostas h1 {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 40px 0px 10px;

}

.div_conteudo_propostas p {
    font-size: 20px;
    color: black;
    text-align: left;
    text-indent: 30px;
    margin: 25px 180px 25px;
    padding: 5px;
}

.div_conteudo_sobre h1 {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 40px 0px 10px;
}

.div_conteudo_sobre p {
    font-size: 20px;
    color: black;
    text-align: left;
    text-indent: 30px;
    margin: 25px 180px 25px;
    padding: 5px;
}

.imagem_1 {
    justify-content: ce;
    width: 10%;
    margin: 30px;
    
}

.imagem_2 {

    width: 30%;
    margin: 40px;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.575);
    border-radius: 15px;
    
}

.imagem_1:hover {
    -webkit-transform: scale(1.2);
   transform: scale(1.2);
   transition: all ease 0.3s;
}

.imagem_2:hover {
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
   transition: all ease 0.3s;
   box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.575);
}

.div_conteudo_propostas, .div_conteudo_sobre {
    text-align: center;
    margin: 10px;
}

.div_conteudo_contato {
    text-align: center;
}

.conteudoContato {
    margin: 250px 100px 50px;
    background: #a96fc97c;
    padding: 10px;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.575);
    border-radius: 15px;


}

.titulo_contato {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 15px;
}


.contato_lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;

}

.contato_item {
    text-decoration: none;
}

.imagem_contato {
    text-align: center;
    margin: 30px;
    width: 30%;
}

.imagem_contato:hover {
    -webkit-transform: scale(1.2);
   transform: scale(1.2);
   transition: all ease 0.3s;
}


.section_footer {
    display: flex;
    flex-direction: column;
    background-color: #55DB96;
    margin: -10px;
    width: auto;

}
.conteudo_footer {
    text-align: center;
    font-size: 16px;
    padding: 8px;

}

.footer_p {
    margin: 8px;
    color: black;

}

.slider{
    margin: 40px auto;
    width: 780px;
    height: 480px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #55DB96;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}


.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 490px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

