@media(max-width: 768px) {
    
    body {
        display: flex;
        flex-direction: column;
        width: auto;
    }

	.cabecalhoPrincipal-nav {
		flex-direction: column;
        
	}

	.cabecalhoPrincipal .container {
		flex-direction: column;
		text-align: center;
        height: 7rem;
        width: auto;
        font-size: 1.1rem;
        padding: auto;
	}

    .cabecalhoPrincipal-nav-link {
        border-bottom: solid 1px white;
        margin: 1rem;
        
    }

    .slider {
        width: 100%;
        margin-bottom: -190px;
    }

    .slide img {
        width: 100%;
    }

    .manual-navigation {
        width: 100%;
        margin-top: -140px;
    }

    .navigation-auto {
        width: 100%;
        margin-top: 260px;

    }

	.conteudoPropostas {
        flex-direction: column;
		width: auto;
        margin: auto;
	}

	.div_conteudo_propostas .paragrafo {
		margin: auto;
        width: auto;

	}

    .div_conteudo_sobre .paragrafo {
		margin: auto;
        width: auto;


	}

    .div_conteudo_propostas .imagem_1 {
        width: 40%;
    }

    .div_conteudo_propostas .imagem_2 {
        width: 80%;
    }

    .div_conteudo_sobre .imagem_2 {
        width: 80%;
    }

    .div_conteudo_contato .conteudoContato{
        flex-direction: column;
        margin: auto;
        width: auto;
    }

    .section_footer .conteudo_footer {
        flex-direction: column;
        width: auto;
        text-align: center;
    }


}
